@using Proyectofinal.Models
@model Olvidar
@{
    ViewBag.Title = "Olvidaste tu contraseña";
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <title>Resumamos-Olvidar contraseña</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css">
</head>

<br />
<br />


<body>

    <div class="container">
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <center>
                    <div class="wrap-login100 p-l-110 p-r-110 p-t-62 p-b-33">
                        @using (Html.BeginForm("EnviarMail", "Home", FormMethod.Post, new { @class = "login100-form validate-form flex-sb flex-w" }))
                        {
                            <h2>
                                <b>
                                    Recuperar contraseña
                                </b>
                            </h2>

                            <div class="p-t-31 p-b-9">
                                <span class="txt1">
                                    Mail
                                </span>
                            </div>

                            <div class="wrap-input100 validate-input" data-validate="Nombre de usuario incorrecto">
                                <input type="text" style="box-shadow: 0 2px 6px -2px grey;" class="form-control" required placeholder="Mail"
                                       @Html.TextBoxFor(model => model.Mail, new { @class = "input100" })
                            </div>
                            if (ViewBag.i == true)
                            {
                                <center>
                                    <small>Mail no encontrado</small>
                                </center>
                            }

                            <div class="BotonIniciar">
                                <button class="login100-form-btn btn btn-primary" style="box-shadow: 0 2px 6px -2px grey;">
                                    Enviar Mail
                                </button>
                            </div>
                            <br />
                 

                        }

                        <br />
                    </div>
                </center>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
</body>
</html>